$cosurl = unquote('https://your-cos-path')

// stylus内可以这样用
// 利用stylus这个特性 https://stylus-lang.com/docs/operators.html#sprintf
// .page
//   background 'url(%s/your-image)' % $cosurl center / 100% no-repeat
